/* TODO: Share this with /css/committees.css rather than duplicating */

img {
    display: block;
    margin: 0 auto;
    height: 250px;
}

h1 {
    text-align: center;
}

@media all and (min-width: 700px) {
    img {
        float: right;
        margin: 0 0 1em 1em;
        width: unset;
        height: 450px;
    }

    h1 {
        text-align: left;
    }
}
