.committee-grid ul {
    padding-left: 0;
    display: grid;
    grid-template-columns: 100%;
    grid-auto-columns: 200px;
    grid-column-gap: 10px;
    grid-row-gap: 15px;
}

@media (min-width: 350px) {
    .committee-grid ul {
        grid-template-columns: 50% 50%;
    }
}

@media (min-width: 850px) {
    .committee-grid ul {
        grid-template-columns: 33% 33% 33%;
    }
}

.committee-grid ul li {
    list-style: none;
    height: 170px;
    background-image: url('http://lorempixel.com/300/175/sports/3');
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
    transition: background-color 0.2s;
    font-family: 'Lato Black', 'Helvetica', 'Ariel', sans-serif;
}

.committee-grid ul li:hover,
.committee-grid ul li:focus-within {
    background-color: rgba(0, 0, 0, 0.2);
}

.committee-grid ul li a {
    text-decoration: none;
    color: white;
    display: flex;
    height: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 1em;
}

.mugshot {
    float: right;
    margin: 0 0 1em 1em;
    display: none;
}

@media (min-width: 500px) {
    .mugshot {
        display: block;
    }
}

.mugshot img {
    width: 300px;
}
