.mugshot {
    display: block;
    margin: 0 auto;
}

.mugshot img {
    height: 250px;
}

@media (min-width: 700px) {
    .mugshot {
        float: right;
        margin: 0 0 1em 1em;
        width: unset;
    }

    .mugshot img {
        height: 450px;
    }
}
