.mugshot {
    margin-left: 0;
    margin-right: 0;
    height: 340px;
}

.mugshot img {
    height: 300px;
}

h1, h2 {
    text-align: center;
}

.dep-sec-gens div,
.crisis-directors div,
.vice-presidents div {
    display: flex;
    flex-direction: column;
}

@media (min-width: 910px) {
    .dep-sec-gens div,
    .crisis-directors div,
    .vice-presidents div {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .mugshot {
        width: 200px;
    }
}
