h2 {
    text-align: center;
}

.hero {
    height: calc(100vh - 120px);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.about {
    margin-bottom: 12em;
}

.executive-board {
    text-align: center;
    margin-bottom: 3em;
}

.executive-board h1 {
    margin-bottom: 3em;
}

.executive-board div {
    display: flex;
    flex-direction: column;
}

@media (min-width: 500px) {
    .executive-board div {
        flex-direction: row;
        justify-content: center;
    }

    .executive-board .mugshot {
        margin: auto;
    }
}

.executive-board .mugshot img {
    height: 300px;
}

a[href='/executive-board'] {
    margin: 2em 0;
    text-decoration: none;
    margin-bottom: 5em;
    display: block;
}

.gallery ul {
    padding-left: 0;
    white-space: nowrap;
    overflow: hidden;
    overflow-x: scroll;
    overflow-y: hidden;
}

.gallery ul li {
    list-style: none;
    display: inline;
    margin-right: 0.5em;
}

.gallery ul li:last-child {
    margin-right: 0;
}
