.over-the-fold {
    background: url('/img/bell.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: -1;
    background-position: 50% 50%;
}

header .logo {
    mix-blend-mode: color-dodge;
}

header nav ul a {
    color: whitesmoke;
}

h2 {
    text-align: center;
}

.hero {
    height: calc(100vh - 120px);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: whitesmoke;
}

.about {
    margin: 12em 0;
}

.executive-board {
    text-align: center;
    margin-bottom: 3em;
}

.executive-board h1 {
    margin-bottom: 3em;
}

.executive-board div {
    display: flex;
    flex-direction: column;
}

@media (min-width: 500px) {
    .executive-board div {
        flex-direction: row;
        justify-content: center;
    }

    .executive-board .mugshot {
        margin: auto;
    }
}

.executive-board .mugshot img {
    height: 300px;
}

.executive-board a[href = '/executive-board'] {
    margin: 2em 0;
    text-decoration: none;
    margin-bottom: 5em;
    display: block;
}

.gallery ul {
    padding-left: 0;
    white-space: nowrap;
    overflow: hidden;
    overflow-x: scroll;
    overflow-y: hidden;
}

.gallery ul li {
    list-style: none;
    display: inline;
    margin-right: 0.5em;
}

.gallery ul li:last-child {
    margin-right: 0;
}
