form {
    margin-top: 3em;
}

section {
    border: 0;
    margin: 0 0 2em 0;
    padding: 2em;
    padding-left: 0;
}

section > section {
    background: none;
    margin-bottom: 0;
    margin-left: 0;
    padding: 0;
}

label {
    display: block;
    margin-bottom: 1em;
}

label:last-child {
    margin-bottom: 0;
}

input, textarea, select {
    margin-top: 0.5em;
    border-radius: 4px;
    padding: 0.25em 0.5em;
    border: 1px solid hsla(0, 0%, 70%, 1);
}

select {
    margin: 0.5em 1em 1.5em;
}

input {
    display: block;
}

input[type = "radio"] {
    display: inline;
    margin: 0 0.5em 0.5em;
}

input[type = 'radio'] + label {
    display: inline;
}

textarea {
    width: 100%;
}

input::placeholder {
    opacity: 0.25;
}

input[type = 'submit'] {
    padding: 1em 2em;
    margin: 0;
    cursor: pointer;
    background: none;
}

button {
    background: none;
    border: 1px solid gray;
    cursor: pointer;
}

fieldset {
    margin: 0;
    margin-bottom: 1em;
    border: none;
    padding-left: 0;
}

.each-delegate-info {
    border-bottom: 1px solid hsla(0, 0%, 70%, 1);
    padding-bottom: 2em;
}

.radio-buttons label {
    display: inline-block;
    margin-right: 1em;
}

.radio-buttons label:last-child {
    margin-right: 0;
}

.radio-buttons label input[type = 'radio'] {
    float: left;
}
