/**
 * Fonts
 */

@font-face {
    font-family: 'Lato';
    src:
        local('Lato'),
        url('/fonts/lato-regular.woff2') format('woff2'),
        url('/fonts/lato-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src:
        local('Lato Black'),
        url('/fonts/lato-black.woff2') format('woff2'),
        url('/fonts/lato-black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lora';
    src:
        local('Lora'),
        url('/fonts/lora-regular.woff2') format('woff2'),
        url('/fonts/lora-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lora';
    src:
        local('Lora'),
        url('/fonts/lora-bold.woff2') format('woff2'),
        url('/fonts/lora-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lora';
    src:
        local('Lora'),
        url('/fonts/lora-italic.woff2') format('woff2'),
        url('/fonts/lora-italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

/**
 * General
 */

body {
    height: 100vh;
    margin: 0 auto;
    width: 100%;
    font-family: 'Lora', 'Garamond Pro', 'Georgia', serif;
    font-weight: normal;
    line-height: 1.35;
    background-color: hsla(0, 0%, 90%, 0.5);
}

header, main, footer {
    width: 90%;
    margin: 0 auto;
    max-width: 1024px;
}

@media (min-width: 600px) {
    header, main, footer {
        width: 70%;
    }
}

nav ul {
    padding-left: 0;
}

nav ul a {
    text-decoration: none;
}

figure {
    text-align: center;
}

figcaption {
    font-style: italic;
    margin-top: 1em;
    text-align: center;
}

.button {
    text-decoration: none;
    display: inline-block;
    padding: 0.75em 0.75em;
    border: 1px solid hsl(198, 100%, 44%);
    border-radius: 7px;
    color: hsl(198, 100%, 44%);
    font-style: normal;
    transition: color 0.2s, border-color 0.2s;
}

.button:hover,
.button:focus,
.button:active {
    color: hsl(198, 100%, 30%);
    border-color: hsl(198, 100%, 30%);
}

/**
 * Typography
 */

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', 'Helvetica', 'Ariel', sans-serif;
    font-weight: normal;
}

a {
    color: hsl(198, 100%, 44%);
    transition: color 0.2s;
}

a:hover,
a:focus,
a:active {
    color: hsl(198, 100%, 35%);
}

b, strong {
    font-weight: bold;
}

/**
 * Header
 */

header {
    padding-top: 1em;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.logo,
.logo img {
    height: 120px;
}

header nav {
    float: right;
    font-family: 'Lato', 'Helvetica', 'Ariel', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    margin: 1em;
}

header nav ul li a {
    color: hsl(0, 0%, 0%);
}

header nav ul li a:hover,
header nav ul li a:focus,
header nav ul li a:active {
    color: hsl(0, 0%, 30%);
}

@media (min-width: 1050px) {
    header nav ul li {
        display: inline;
    }

    header nav ul {
        line-height: unset;
    }
}

/**
* Footer
*/

footer {
    display: flex;
    flex-direction: column;
    font-size: 75%;
    border-top: hsla(0, 0%, 70%) solid 1px;
    padding: 1em 0;
    margin-top: 5em;
}

@media (min-width: 800px) {
    footer {
        flex-direction: row;
    }
}

footer div,
footer > p {
    flex: 1;
}

footer .copyright {
    margin-bottom: 2em;
}

footer div {
    flex-grow: 2;
}
