body {
    height: 100vh;
}

main {
    position: relative;
    display: grid;
    height: 100%;
}

.coming-soon {
    text-align: center;
    margin: auto;
    font-family: 'Adobe Garamond Pro', Georgia, serif;
    font-size: 22px;
}
