footer
    address
        :markdown-it
            <dsmun@doonschool.com>

            Mr. Mohit Sinha:
                [+91 9760013831](tel:+91-9760013831) · <mhs@doonschool.com>

            Vikram Jain:
                <secgen@doonschool.com>

            Nandil Sarma:
                <president_mun@doonschool.com>

    :markdown-it
        Built with 🦄 by [Shreyas&nbsp;Minocha](//shreyasminocha.me), Arav&nbsp;Dixit and Paavan&nbsp;Agarwal. [Source code](//github.com/shreyasminocha/dsmun19) licensed under the [MIT License](//shreyas.mit-license.org).
