footer
    address
        p
            a(href="mailto:dsmun@doonschool.com") dsmun@doonschool.com

        p Mr. Mohit Sinha:
            a(href="tel:+91-9760013831") +91 9760013831
            a(href="mailto:mhs@doonschool.com") mhs@doonschool.com

        p Vikram Jain:
            a(href="mailto:secgen@doonschool.com") secgen@doonschool.com

        p Nandil Sarma:
            a(href="mailto:president_mun@doonschool.com") president_mun@doonschool.com
