footer
    address
        :markdown-it
            [dsmun@doonschool.com](mailto:dsmun@doonschool.com)

            Mr. Mohit Sinha:
                [+91 9760013831](tel:+91-9760013831) · [mhs@doonschool.com](mailto:mhs@doonschool.com)

            Vikram Jain:
                [secgen@doonschool.com](mailto:secgen@doonschool.com)

            Nandil Sarma:
                [president_mun@doonschool.com](mailto:president_mun@doonschool.com)

    :markdown-it
        Built with 🦄 by [Shreyas Minocha](//shreyasminocha.me), Arav Dixit and Paavan Agarwal. [Source code](//github.com/shreyasminocha/dsmun19) licensed under the [MIT License](//shreyas.mit-license.org).
