head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

    block stylesheets
        link(rel="stylesheet", href="/css/sanitize.css")
        link(rel="stylesheet", href="/css/style.css")

    link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")

    title
        if name != null
            | #{name} | DSMUN 2019
        if title != null
            | #{title} | DSMUN 2019
        else
            | The Doon School Model United Nations 2019

    meta(name="description", content="The Doon School Model United Nations 2019 website")
    meta(name="theme-color" content="#009ade")

    link(rel="manifest", href="/manifest.json")

    block scripts
        script(src="/js/fathom.js")
