header
    a(href="/")
        img.logo(src="/img/logo.png" height="120" alt="DSMUN '19 logo")

    nav
        ul
            li: a(href="/") Home
            li: a(href="/committees") Committees
            li: a(href="/executive-board") Executive Board
            li: a(href="/schedule") Schedule
