header
    a(href="/")
        img.logo(src="/img/logo.png" height="160" alt="DSMUN '19 logo")

    nav
        ul
            li: a(href="/home") Home
            li: a(href="/committees") Committees
            li: a(href="/secretariat") Secretariat
            li: a(href="/schedule") Schedule
