header
    a.logo(href="/")
        img(src="/img/logo-optimized.svg" alt="DSMUN '19 logo" height="120")

    nav
        ul
            li: a(href="/") Home
            li: a(href="/committees") Committees
            li: a(href="/executive-board") Executive Board
            li: a(href="/updates") Updates
            li: a(href="/schedule") Schedule
            li: a(href="/register") Registration
