---
layout: null # Reset layout set in committees.json
tags: []
---

extends /layouts/base.pug

append stylesheets
    link(rel="stylesheet", href="/css/committees.css")

block content
    h1 Committees

    section.committee-grid
        ul
            each committee in collections.committees
                li: a(href=`/committees/${committee.fileSlug}`)=committee.data.name
