---
layout: null # Reset layout set in committees.json
tags: []
---

extends /layouts/base.pug

append stylesheets
    link(rel="stylesheet", href="/css/committees.css")

block content
    h1 Committees

    section.committee-grid
        ul
            +committeeThumb("United Nations Security Council", "unsc")
            +committeeThumb("United Nations Security Council", "unsc")
            +committeeThumb("United Nations Security Council", "unsc")
            +committeeThumb("United Nations Security Council", "unsc")
            +committeeThumb("United Nations Security Council", "unsc")
            +committeeThumb("United Nations Security Council", "unsc")
            +committeeThumb("United Nations Security Council", "unsc")
            +committeeThumb("United Nations Security Council", "unsc")
            +committeeThumb("United Nations Security Council", "unsc")
            +committeeThumb("United Nations Security Council", "unsc")
            +committeeThumb("United Nations Security Council", "unsc")
            +committeeThumb("United Nations Security Council", "unsc")

mixin committeeThumb(name, acronym)
    li(data-committee=name): a(href=`/committees/${acronym}`)=name
