extends /layouts/base.pug

block content
    h1 Committees

    section
        ul
            li: a(href="#"): img(src="")
            li: a(href="#"): img(src="")
            li: a(href="#"): img(src="")
            li: a(href="#"): img(src="")
            li: a(href="#"): img(src="")
            li: a(href="#"): img(src="")
            li: a(href="#"): img(src="")
            li: a(href="#"): img(src="")
            li: a(href="#"): img(src="")
            li: a(href="#"): img(src="")
            li: a(href="#"): img(src="")
            li: a(href="#"): img(src="")
