---
title: Committees
layout: null # Reset layout set in committees.json
tags: none
---

extends /layouts/base.pug

append stylesheets
    link(rel="stylesheet" href="/css/committee-grid.css")

block content
    h1 Committees

    section.committee-grid
        ul
            each committee in collections.committees
                li(style=`background: 'hsla(0, 0%, 35%, 1)');`)
                    a(href=`/committees/${committee.fileSlug}`)=committee.data.name
