extends /layouts/base.pug

append stylesheets
    link(rel="stylesheet", href="/css/register.css")

block content
    h1 Register

    p Filling this form with your delegation's details is the second step in registering for DSMUN '19, after successfully making the payment.

    form(action="/register", method="post")
        fieldset
            h2 Invitation Code

            p After successfully making your payment, you must have received an invitation code. Please enter that here exactly.

            label(for="invitation-code") Invitation Code
            input(type="text", name="invitation-code", minlength="36", maxlength="36", size="36", pattern="[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}", placeholder="fde925c0-10cd-4053-9d64-c402f98f09ac", required)

        fieldset
            h2 Travel details
            label(for="passenger-count") Passenger count
            input(type="number", name="passenger-count", min=1, placeholder="15", required)

            fieldset
                h3 Arrival
                label(for="arrival-time") Arrival time
                input(type="datetime", name="arrival-time", required)

                label(for="mode-arrival") Mode of Travel
                input(type="radio", name="mode-arrival", value="bus")
                input(type="radio", name="mode-arrival", value="train")
                input(type="radio", name="mode-arrival", value="flight")

                label(for="departure-date") Departure date
                input(type="date", name="departure-date", required)
                label(for="departure-place") Departure place
                input(type="text", name="departure-place", required)
                label(for="arrival-travel-details") Arrival Travel Details
                textarea(name="arrival-travel-details", rows="5")

            fieldset
                h3 Departure
                label(for="departure-time") Departure time
                input(type="datetime", name="departure-time", required)

                label(for="mode-departure") Mode of Travel
                input(type="radio", name="mode-departure", value="bus")
                input(type="radio", name="mode-departure", value="train")
                input(type="radio", name="mode-departure", value="flight")

                label(for="arrival-date") Arrival date
                input(type="date", name="arrival-date", required)
                label(for="arrival-place") Arrival place
                input(type="text", name="arrival-place", required)
                label(for="departure-travel-details") Depature travel details
                textarea(name="departure-travel-details", rows="5")

        fieldset
            h2 School details
            label(for="school-name") School name
            input(type="text", name="school-name", placeholder="A School", required)

            label(for="address-street-name") Street name
            input(type="text", name="address-street-name", placeholder="MK Gandhi Road", required)
            label(for="address-city") City
            input(type="text", name="address-city", placeholder="Dehradun", required)
            label(for="address-state") State
            input(type="text", name="address-state", placeholder="Uttarakhand", required)

            label(for="faculty-advisor-name") Faculty Advisor name
            input(type="text", name="faculty-advisor-name", placeholder="John Doe", required)

            label(for="mobile-no") Mobile number
            input(type="tel", name="mobile-no", placeholder="+91 9111911100", required)
            label(for="landline-no") Landline number
            input(type="tel", name="landline-no", required)
            label(for="email") Email
            input(type="email", name="email", required)

            label(for="delegation-size") Delegation size
            input(type="number", name="delegation-size", required)

        input(type="submit", value="Register")

        fieldset
            h2 Escort Information

            label(for="escort-name") Escort name
            input(type="text", name="escort-name", placeholder="John Doe", required)

            label(for="gender") Gender
            input(type="radio" name="gender" value="male")
            label(for="male") Male
            input(type="radio" name="gender" value="female")
            label(for="female") Female
            input(type="radio" name="gender" value="other")
            label(for="other") Other

            label(for="meal-preference") Meal Preference
            input(type="radio" name="meal-preference" value="vegetarian")
            label(for="vegetarian") Vegetarian
            input(type="radio" name="meal-preference" value="non-vegetarian")
            label(for="non-vegetarian") Non-Vegetarian

        fieldset
            h2 Delegate Information
            label(for="delegate-name") Delegate name
            input(type="text", name="delegate-name", placeholder="John Doe", required)

            label(for="committee-preference") Committee Preference
            select(name="committee-preference") Committee Preference
                each committee in collections.committees
                    option(value=committee.fileSlug)=committee.name

            label(for="gender") Gender
            input(type="radio" name="gender" value="male")
            label(for="male") Male
            input(type="radio" name="gender" value="female")
            label(for="female") Female
            input(type="radio" name="gender" value="other")
            label(for="other") Other

            label(for="meal-preference") Meal Preference
            input(type="radio" name="meal-preference" value="vegetarian")
            label(for="vegetarian") Vegetarian
            input(type="radio" name="meal-preference" value="non-vegetarian")
            label(for="non-vegetarian") Non-Vegetarian
