extends /layouts/base.pug

append stylesheets
    link(rel="stylesheet", href="/css/executive-board.css")

block content
    include /mixins/figure.pug

    section.top
        h1 Executive Board

    section.dep-sec-gens
        h2 Deputy Secretary General

        div
            +figure(src="/img/executive-board/agastya.jpg", alt="Agastya Khanna's mugshot", caption="Agastya&nbsp;Khanna")
            +figure(src="/img/executive-board/shiv.jpg", alt="Shiv Sharma's mugshot", caption="Shiv&nbsp;Sharma")

    section.crisis-directors
        h2 Crisis Directors

        div
            +figure(src="/img/executive-board/janak.jpg", alt="Janak Prajapati's mugshot", caption="Janak&nbsp;Prajapati")
            +figure(src="/img/executive-board/rishabraj.jpg", alt="Rishabraj Verma's mugshot", caption="Rishabraj&nbsp;Verma")
            +figure(src="/img/executive-board/shathaayu.jpg", alt="Shathaayu Patil's's mugshot", caption="Shathaayu&nbsp;Patil")

    section.vice-presidents
        h2 Vice Presidents

        div
            +figure(src="/img/executive-board/keshav.jpg", alt="Keshav Singhal's mugshot", caption="Keshav&nbsp;Singhal")
            +figure(src="/img/executive-board/raghav.jpg", alt="Raghav Kediyal's mugshot", caption="Raghav&nbsp;Kediyal")
