extends /layouts/base.pug

append stylesheets
    link(rel="stylesheet", href="/css/executive-board.css")

block content
    section.top
        h1 Executive Board

    section.dep-sec-gens
        h2 Deputy Secretary General

        div
            figure.mugshot
                img(src="/img/executive-board/agastya.jpg")
                figcaption Agastya&nbsp;Khanna

            figure.mugshot
                img(src="/img/executive-board/.jpg")
                figcaption Shiv&nbsp;Sharma

    section.crisis-directors
        h2 Crisis Directors

        div
            figure.mugshot
                img(src="/img/executive-board/janak.jpg")
                figcaption Janak&nbsp;Prajapati

            figure.mugshot
                img(src="/img/executive-board/rishabraj.jpg")
                figcaption Rishabraj&nbsp;Verma

            figure.mugshot
                img(src="/img/executive-board/shathaayu.jpg")
                figcaption Shathaayu&nbsp;Patil

    section.vice-presidents
        h2 Vice Presidents

        div
            figure.mugshot
                img(src="/img/executive-board/keshav.jpg")
                figcaption Keshav&nbsp;Singhal

            figure.mugshot
                img(src="/img/executive-board/raghav.jpg")
                figcaption Raghav&nbsp;Kediyal
