extends /layouts/base.pug

append stylesheets
    link(rel="stylesheet", href="/css/executive-board.css")

block content
    section.top
        h1 Executive Board

    section.dep-sec-gens
        h2 Deputy Secretary General

        div
            figure.mugshot
                img(src="/img/executive-board/agastya.jpg", alt="Agastya Khanna's mugshot")
                figcaption Agastya&nbsp;Khanna

            figure.mugshot
                img(src="/img/executive-board/.jpg", alt="Shiv Sharma's mugshot")
                figcaption Shiv&nbsp;Sharma

    section.crisis-directors
        h2 Crisis Directors

        div
            figure.mugshot
                img(src="/img/executive-board/janak.jpg", alt="Janak Prajapati's mugshot")
                figcaption Janak&nbsp;Prajapati

            figure.mugshot
                img(src="/img/executive-board/rishabraj.jpg", alt="Rishabraj Verma's mugshot")
                figcaption Rishabraj&nbsp;Verma

            figure.mugshot
                img(src="/img/executive-board/shathaayu.jpg", alt="Shathaayu Patil's mugshot")
                figcaption Shathaayu&nbsp;Patil

    section.vice-presidents
        h2 Vice Presidents

        div
            figure.mugshot
                img(src="/img/executive-board/keshav.jpg", alt="Keshav Singhal's mugshot")
                figcaption Keshav&nbsp;Singhal

            figure.mugshot
                img(src="/img/executive-board/raghav.jpg", alt="Raghav Kediyal's mugshot")
                figcaption Raghav&nbsp;Kediyal
