---
title: Executive Board
---

extends /layouts/base.pug

append stylesheets
    link(rel="stylesheet" href="/css/executive-board.css")

block content
    include /mixins/figure.pug

    section.top
        h1 The Executive Board

    section.dep-sec-gens
        h2 Deputy Secretary Generals

        div
            +figure("/img/executive-board/agastya.jpg", "Agastya Khanna's mugshot", "Agastya&nbsp;Khanna")
            +figure("/img/executive-board/shiv.jpg", "Shiv Sharma's mugshot", "Shiv&nbsp;Sharma")

    section.vice-presidents
        h2 Vice Presidents

        div
            +figure("/img/executive-board/keshav.jpg", "Keshav Singhal's mugshot", "Keshav&nbsp;Singhal")
            +figure("/img/executive-board/raghav.jpg", "Raghav Kediyal's mugshot", "Raghav&nbsp;Kediyal")

    section.crisis-directors
        h2 Crisis Directors

        div
            +figure("/img/executive-board/janak.jpg", "Janak Prajapati's mugshot", "Janak&nbsp;Prajapati")
            +figure("/img/executive-board/rishabraj.jpg", "Rishabraj Verma's mugshot", "Rishabraj&nbsp;Verma")
            +figure("/img/executive-board/shathaayu.jpg", "Shathaayu Patil's mugshot", "Shathaayu&nbsp;Patil")
