h1 {
    text-align: center;
}

.mugshot {
    display: block;
    margin: 0 auto;
}

.mugshot img {
    height: 250px;
}

@media all and (min-width: 700px) {
    h1 {
        text-align: left;
    }

    .mugshot {
        float: right;
        margin: 0 0 1em 1em;
        width: unset;
    }

    .mugshot img {
        height: 450px;
    }
}

.delegate-resources {
    list-style: none;
    padding-left: 0;
}

.delegate-resources li {
    display: block;
    margin-bottom: 1em;
}

@media all and (min-width: 700px) {
    .delegate-resources li {
        display: inline-block;
        margin-right: 1em;
        margin-bottom: 0;
    }
}

.delegate-resources li:last-child {
    margin-right: 0;
}
