//- TODO: Make this layout extend /layouts/article.pug
extends /layouts/base.pug

append stylesheets
    //- TODO: Move styles out of here
    style.
        article img {
            height: 300px;
            float: right;
            margin: 0 0 1em 1em;
            display: none;
        }

        @media (min-width: 500px) {
            article img {
                display: block;
            }
        }

block content
    article
        h1=name

        | !{content}
