//- TODO: Make this layout extend /layouts/article.pug
extends /layouts/base.pug

append stylesheets
    link(rel="stylesheet", href="/css/address.css")

block content
    article
        h1=title

        | !{content}
