extends /layouts/base.pug

append stylesheets
    if stylesheets !== undefined
        for stylesheet in stylesheets
            link(rel="stylesheet" href=stylesheet)

block content
    article
        | !{content}
