doctype html

html(lang="en")
    include /partials/head.pug

    body
        //- For the background image on index
        .over-the-fold
        //- TODO: Render this div only on the index page without having to …
        //- duplicate base.pug's boilerplate

        include /partials/header.pug

        main
            block content

        include /partials/footer.pug
