doctype html

html(lang="en")
    include /partials/head.pug

    body
        if page.url == '/'
            .over-the-fold

        include /partials/header.pug

        main
            block content

        include /partials/footer.pug
